# Node/Frontend
node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*

# Python/Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# SafeHer Specifics
chroma_store/
backend/data/*.graphml

# OS
.DS_Store
Thumbs.db
